canvas {
    border: 1px #000 solid;
}

#log {
    position: absolute;
    width: 30rem;
    height: 40rem;
    border: 1px solid #000;
    top: 2rem;
    left: 400px;
}

#log #color {
    width: 4rem;
    height: 4rem;
    border: 1px solid #000;
    margin: 1rem;
}

#log #dna {
    width: 80%;
    height: 10rem;
    border: 1px solid #000;
    margin: 10%;
    overflow-y: auto;
    padding-left: 0.5rem;
}

#log #life {
    width: 80%;
    height: 10rem;
    border: 1px solid #000;
    margin: 10%;
    overflow-y: auto;
    padding-left: 0.5rem;

}

.firstInfo {
    display: flex;
    flex-direction: row;
    margin: 10%;
    justify-content: space-between;
}

.colorLog {
    display: flex;
    align-items: center;
}

#log span {
    color: blue;
    margin-left: 0.6rem;
}

@media (max-width: 890px) {
    #log {
        position: absolute;
        width: 30rem;
        height: 40rem;
        border: 1px solid #000;
        top: 400px;
        left: 1rem;
    }
}